@import './components/arrows.scss';




.scroll-imgs-right {
    transform: translate3d(0, 0, 0);
    animation: moveSlideshowRight 12s linear infinite;
}

.scroll-imgs-left {
    transform: translate3d(0, 0, 0);
    animation: moveSlideshowLeft 12s linear infinite;
}

@keyframes moveSlideshowLeft {
    100% { 
        transform: translateX(-61.40%);  
    }
  }

@keyframes moveSlideshowRight {
    100% { 
        transform: translateX(66.6666%);  
    }
}